.header-info {
    width: 60%;
}

.header-info .accordion {
    width: 100%;
}

.header-img {
    width: 40%;
}

.header-img img {
    width: 70%; 
}

.accordion {
    --bs-accordion-color: var(--body-color);
    --bs-accordion-bg: var(--body-bg);
    --bs-accordion-active-color: var(--body-color);
    --bs-accordion-active-bg: var(--body-bg);
    --bs-accordion-btn-color: var(--body-color);
    --bs-accordion-btn-icon: url("data:image/svg+xml,<svg viewBox='0 0 16 16' fill='%23333' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' d='M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z' clip-rule='evenodd'/></svg>");
    --bs-accordion-btn-active-icon: url("data:image/svg+xml,<svg viewBox='0 0 16 16' fill='%23333' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' d='M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z' clip-rule='evenodd'/></svg>");
    --bs-accordion-border-width: 0px;
    --bs-accordion-transition: 0;
}

.accordion-button {
    font-size: 1.2rem;
}
.accordion-body {
    text-align: justify;
}

.about {
    text-align: center;
}

.line {
    display: inline-block;
    background-image: url("../img/line.svg");
    background-position: 0 100%;
    background-size: 200px;
    background-repeat: no-repeat;
}

.about-text {
    width: 90%;
}

.about-img img {
    width: 80%;
    max-width: 600px;
}

.info-grid-item i {
    font-size: 3rem;
}

.info-grid-item {
    text-align: center;
}

.info-grid-item-title {
    width: 80%;
}

.info-grid-item-text {
    width: 95%;
}

.links-grid {
    text-align: center;
}

.links-grid-item {
    background-color: var(--body-bg-two);
    color: var(--body-color);
    border: 1px solid var(--body-bg-three);
    border-radius: 15px;
}

.links-grid-item:hover, .links-grid-item:focus {
    background-color: var(--secondary-accent-light);
    border: 1px solid var(--secondary-accent);
    transition: all 0.2s linear;
}

.links-grid-item-title {
    width: 80%;
}

.links-grid-item-text {
    width: 95%;
}

.links-grid-item img {
    max-height: 160px; 
}

@media (max-width: 991.98px) { 
    .header-info {
        width: 100%;
    }
    
    .header-img {
       width: 100%;
    }

    .header-img img {
        width: 50%; 
    }

    .about-title {
        width: 100%;
    }

    .about-info {
        width: 100%;
    }
}

@media (min-width: 768px) { 
    .links-grid-item {
        min-height: 430px;
    }
}